.azul{
    background-color: rgba(47, 90, 170, 0.546);
    border: 1px solid red;
    padding: 10px;
    border-radius: 20px;
}
.gradient{
    background: linear-gradient( rgb(92, 196, 225), rgb(255, 255, 255));
}
